.Ranking * {
  margin: 0;
  padding: 0;
}

.Ranking {
  background-image: linear-gradient(45deg, #c71fbe, yellow);
  color: #2d0675;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.Ranking .emptyRanking {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
}

.Ranking .rankingTable {
  border-collapse: collapse;
  margin: 15px;
  text-align: center;
}

.Ranking .rankingTable th {
  border-bottom: 1px solid black;
  font-size: 18px;
  padding: 15px 10px;
}

.Ranking .rankingTable td {
  border-bottom: 1px solid black;
  font-size: 17px;
  padding: 5px 0;
}

.Ranking .rankingTable img {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}

.buttonInicio {
  background-color: yellow;
  border: none;
  border-radius: 9px;
  box-shadow: 10px 5px 5px gray;
  color: #2d0675;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  margin: 4px;
  width: 150px;
}

.buttonInicio:hover {
  font-size: 17px;
}
